/*font-family: 'Roboto', sans-serif;*/
.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid blue; */
}

:root {
  --accent-color: #2196f3;
  --main-color: #757575;
  --white-color: #ffffff;
  --black-color: #212121;
  --item-title: rgba(47, 48, 58, 0.8);
  --footer-list: #2f303a;
  --gray-color: #f5f4fa;
  --icons-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  display: inline-flex;
  justify-content: flex-end;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;
}

.btn-close {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin: 8px 8px 2px 2px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  color: #000000;
  outline: none;
  cursor: pointer;
}

.btn-close:hover,
.btn-close:focus + .icon-close {
  fill: var(--accent-color);
}

.form-page {
  display: inline-block;
  margin-top: 40px;
  max-width: 100%;
}

.text-form {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--black-color);
  margin: 0;
  margin-bottom: 30px;
}

.form-section {
  display: flex;
  position: relative;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-section:focus-within .form-iconname {
  fill: var(--accent-color);
}

.form-lebel {
  display: inline-block;
  position: absolute;
  left: 1px;
  transform: translatey(-140%);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  color: var(--main-color);
  letter-spacing: 0.01em;
}

.form-iconname {
  position: absolute;
  transform: translateY(100%);
  padding-right: 15px;
  padding-left: 15px;
  fill: var(--black-color);
}

.form-textarea {
  width: 100%;
  height: 120px;

  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-section:focus-within > .form-textarea {
  border: 1px solid var(--accent-color);
  outline: none;
}
/* .form-submit {
  margin-bottom: 30px;
} */
.checkbox-field {
  display: flex;
  align-items: center;
  padding-left: 13px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;

  border: 2px solid var(--dark-color);
  border-radius: 2px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/check-optmz.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox-link {
  color: var(--accent-color);
}

.img {
  display: inline-block;
}

.link {
  display: block;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.page-header {
  background: var(--white-color);
  padding: 24px 0;
  border-bottom: 1px solid var(--gray-color);
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  margin-right: 94px;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  display: flex;
  margin-right: 50px;
}

.menu-link {
  position: relative;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -29px;

  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;

  transition: opacity 250ms var(--timing-function);
}

.menu-item-tele {
  display: flex;
}

.icon-header {
  padding-right: 10px;
}

.contacts-link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  fill: var(--main-color);
  display: inline-flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.hero-color {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 94px;
}

.hero {
  text-align: center;

  padding-top: 200px;
}

.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
  padding-bottom: 30px;
}

.speciality-color {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: var(--white-color);
}

.btn {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0;
}

.special {
  display: flex;
  margin-bottom: 94px;
}

.special-item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.special-item:not(:last-child) {
  margin-right: 30px;
}

.special-title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--black-color);
}

.special-p {
  margin: 0;
}

.special-icons {
  padding: 25px 100px;
  background: var(--gray-color);
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--black-color);
  margin: 0;
  padding-bottom: 50px;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.our-team {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background: var(--gray-color);
}

.img-team {
  display: block;
  width: 270px;
}

.item-title {
  position: absolute;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  font-weight: bold;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--white-color);
  background: var(--item-title);
  margin: 0;
}

.team {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
  margin-bottom: 94px;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--black-color);
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.skil-title {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-bottom: 24px;
  padding-right: 32px;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.link-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--icons-color);
  background: var(--white-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background: var(--accent-color);
  fill: var(--white-color);
}

.main-title {
  padding: 20px 24px;
}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);

  margin: 0;
}

.subfilter-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-color);

  margin: 0;
}

.menu-link-list {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 94px;
}

.menu-link-saction {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--black-color);
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  background: var(--gray-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list-link:not(:last-child) {
  margin-right: 8px;
}

.menu-link-saction:hover,
.menu-link-saction:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

.clients {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.web {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 94px;
}

.web-container {
  width: 370px;
  margin-bottom: 30px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.web-container:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box {
  display: flex;
  position: relative;
  overflow: hidden;
}

.special-item:hover .overlay {
  transform: translatey(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  background: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms var(--timing-function);
}

.text-overlay {
  width: 322px;
  height: 168px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  color: #ffffff;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 63px;
}

.web-container:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.address-title {
  text-align: center;
  color: var(--white-color);
}

.footer-color {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: var(--footer-list);
}

.footer-list {
  display: flex;
}

.adress {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
}

.adress-social {
  padding-top: 72px;
  padding-bottom: 100px;
  margin-right: 93px;
}

.social-footer {
  display: flex;
}

.text-adress {
  text-align: justify;
  margin: 0;
}
.text-adress:not(:last-child) {
  margin-bottom: 9px;
}

.text-adress-p {
  text-align: justify;
  margin: 0;
  margin-bottom: 9px;
}

.link-icon-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-footer:hover,
.link-icon-footer:focus {
  background: var(--accent-color);
}

.item-title-footer {
  font-weight: bold;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--white-color);
  display: flex;
  margin: 0;
  margin-bottom: 20px;
}

.form-footer {
  display: flex;
  padding-top: 108px;
  padding-bottom: 94px;
}

.input-footer {
  position: relative;
  display: flex;
  width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  margin: 0;
  margin-right: 12px;
}

.label-footer {
  position: absolute;
  transform: translateY(-35px);
  font-weight: bold;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--white-color);
}

.btn-footer {
  width: 200px;
  min-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 0;
}

.btn-svg {
  /* text-align: center; */
  transform: translateY(6.5px);
}
